.game {
    position: relative;

    .game-animation {
        width: 100%;
        text-align: center;
        margin-top: -4rem;
        width: 100%;

        div {
            width: 80%;
            margin: 0 auto;
        }
    }

    .answers-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .row {
            justify-content: space-around;

            .answer-button {
                position: relative;
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                border: 3px solid $black;
                background-color: white;
                padding: 1rem 0.5rem;

                &:hover,
                &.clicked {
                    border: 3px solid $primary;
                }

                img {
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    top: -1rem;
                    right: 0px;
                    aspect-ratio: 1/1;

                    &:nth-child(1) {
                        right: 15px;
                    }

                    &:nth-child(2) {
                        right: 30px;
                    }

                    &:nth-child(3) {
                        right: 45px;
                    }
                }
            }
        }
    }
}

.song-display {
    padding: 0rem 2rem 0 2rem;
    margin: 0 auto;
    // border: 2px solid $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    img {
        aspect-ratio: 1/1;
        width: 100%;
    }
    .song-display-track {
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
    }
    .song-display-artist {
        font-size: 0.8rem;
        color: lightgrey;
        margin: 0;
    }
    .song-display-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .img-placeholder {
        aspect-ratio: 1/1;
        width: 100%;
        background-color: grey;
    }
    margin-bottom: 1rem;
}

.round-result {
    .progress {
        margin-bottom: 2rem;
        border-radius: 0px;

        .progress-bar {
            animation-duration: 5s;
            animation-name: progressbar-animation;
            animation-timing-function: linear;
        }

        @keyframes progressbar-animation {
            from {
                width: 0%;
            }

            to {
                width: 100%;
            }
        }
    }

    .round-result-list {
        width: 100%;
        list-style: none;
        padding-left: 0px;
        // margin-top: 4rem;

        .round-result-description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 1rem;

            p {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .round-result-list-item {
            display: flex;
            flex-direction: row;
            border: 3px solid $black;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            justify-content: space-between;

            &:first-child {
                border: 3px solid $primary;
            }

            .round-result-item-content {
                display: flex;
                justify-content: center;
                width: 150px;

                &:first-child {
                    justify-content: start;
                }

                &:last-child {
                    justify-content: end;
                }
            }
        }
        .round-result-list-item.own {
            border: 3px solid $primary;
        }
    }

    .end-result-list {
        width: 100%;
        list-style: none;
        padding-left: 0px;
        // display: flex;
        // flex-direction: row;
        justify-content: space-between;
        margin-top: 5rem;

        .normal-list {
            .end-result-list-item {
                display: flex;
                flex-direction: row;
                border: 3px solid $black;
                padding: 0.5rem 1rem;
                margin-bottom: 1rem;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .image-wrapper {
                    display: none;

                    img {
                        object-fit: cover;
                        width: 3rem;
                        height: 3rem;
                        border: 3px solid $primary;
                    }
                }

                .end-result-content {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;

                    p {
                        margin: 0px;
                    }
                }
            }
        }

        .top-three-list {
            .end-result-list-item {
                display: flex;
                position: relative;
                flex-direction: row;
                border: 3px solid $black;
                padding: 0.5rem 1rem;
                margin-bottom: 1rem;
                justify-content: space-between;
                width: 30%;
                align-items: center;
                float: left;
                text-align: center;

                @include media-breakpoint-down(lg) {
                    float: none;
                }

                &:nth-child(n + 4) {
                    width: 100%;
                    margin-top: 0.75rem;
                    .image-wrapper {
                        display: none;
                    }

                    .end-result-content {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        margin: 0px;
                        flex-grow: none;

                        p {
                            margin: 0px;
                            font-size: 0.95rem;
                            color: $black;
                            font-weight: 800;
                            display: flex;
                            width: 20%;
                            justify-content: center;
                        }
                        .end-result-description {
                            display: none;
                        }
                    }
                }

                .end-result-content {
                    margin-top: 7rem;
                    flex-grow: 1;
                    display: block;

                    .end-result-name {
                        font-weight: 700;
                        font-size: 1.7rem;

                        &:nth-child(n + 4) {
                            display: flex;
                            align-items: start;
                            width: 30%;
                        }
                    }

                    .end-result-score {
                        font-size: 3rem;
                        font-weight: 700;
                        color: $primary;
                        margin-bottom: 0px;
                        line-height: 0.9;

                        &:nth-child(n + 4) {
                            display: flex;
                            align-items: center;
                            width: 30%;
                        }
                    }

                    .end-result-description {
                        font-size: 0.8rem;
                        font-weight: 300;
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                    }

                    .end-result-index {
                        display: flex;
                        justify-content: center;
                        font-weight: 800;
                        font-size: 1.5rem;
                        &:nth-child(n + 4) {
                            font-size: 1rem;
                            display: flex;
                            align-items: end;
                            width: 30%;
                        }
                    }
                }
                &:nth-child(1) {
                    top: 1.05rem;
                    margin-right: 5%;
                    height: 18.5rem;

                    @include media-breakpoint-down(lg) {
                        top: 0px;
                        margin-bottom: 1.5rem;
                    }
                }

                &:nth-child(2) {
                    top: -1.5rem;
                    margin-right: 5%;
                    height: 21rem;

                    @include media-breakpoint-down(lg) {
                        top: 0px;
                        margin-bottom: 1.5rem;
                    }
                }

                &:nth-child(3) {
                    top: 2.5rem;
                    height: 17rem;

                    @include media-breakpoint-down(lg) {
                        top: 0px;
                        margin-bottom: 1.5rem;
                    }
                }

                &:nth-child(4) {
                    margin-top: 1rem;
                }

                .image-wrapper {
                    width: 100%;
                    display: flex;
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    justify-content: center;

                    img {
                        width: 8rem;
                        height: 8rem;
                        border: 3px solid $primary;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.restart-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;

    button {
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.5rem 3rem;
    }
}
