@import "./variables.module.scss";
@import "./footer.scss";
@import "./game-config.scss";
@import "./game-rules.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";





html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", "Helvetica", Arial, sans-serif;


}

h1, h2, h3, h4, .h1, .h2, .h3, .h4{
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

sass-test {
  color: red;
}

.logo-container {

  margin-top: 5rem;
  margin-bottom: 4rem;
  .logo {
    text-align: center;
    img {
      width: 25rem;
    }
  }
}

.btn{
  border-width: 3px;
  color: $black;

}