.scoreboard{
    border: 3px solid $black;
    width: 15rem;
    padding: 2rem 1rem;
    position: absolute;
    left: -15rem;
    top: 0;
    .scoreboard-wrapper{
        .scoreboard-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            p{
                margin-bottom: 0px;
                font-weight: 700;
                font-size: 0.8rem;
                color: $black;
            }

            &.own-user{
                p{
                    color: $primary;
                }
            }

            img{
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}