.audioViz {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1px;
    transform: rotate(180deg);
    height: 200px;
    width: 100%;
    div {
        animation-name: shuffle, turnGreen;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite, 1;
        background-color: $grey;
    }
}

@keyframes shuffle {
    0% {
        transform: scaleY(1.2);
    }
    50% {
        transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1.2);
    }
}

@keyframes turnGreen {
    0% {
        background-color: $grey;
    }
    100% {
        background-color: $primary;
    }
}
